<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <%- include layouts %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
  </body>
</html>
