<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <%- include layouts %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <b>List work</b> <br>
    Form by 60310075 AND 60310073 => <a href="https://simplenodejsexpress.herokuapp.com/form">FORM</a>
    <br>
    Form validation by 60310544 => <a href="https://simplenodejsexpress.herokuapp.com/validation">Validation</a> 
  </div>
  </body>
</html>
